{
  email {$CADDY_EMAIL}
}

auth.zeroauth.tech {
  encode zstd gzip
  reverse_proxy zauth-core:3000
}

verify.zeroauth.tech {
  encode zstd gzip
  reverse_proxy zauth-core:3000
}

api.zeroauth.tech {
  encode zstd gzip
  reverse_proxy zauth-core:3000
}

console.zeroauth.tech {
  encode zstd gzip
  reverse_proxy zauth-ui:3001
}

demo.zeroauth.tech {
  encode zstd gzip
  reverse_proxy zauth-ui:3001
}

notes.zeroauth.tech {
  encode zstd gzip
  reverse_proxy zauth-notes:3002
}

status.zeroauth.tech {
  encode zstd gzip
  reverse_proxy zauth-ui:3001
}

sentinel.zeroauth.tech {
  encode zstd gzip
  reverse_proxy zauth-sentinel:3003
}
